title: Contact
---

.container
  h2
    span.fa.fa-bullhorn
    |  Reaching out to the developers
  .actions
    a.btn.btn-primary(href="irc://irc.freenode.net/dokibox", role="button")
      span.fa.fa-comments-o
      |  Connect to IRC chat
    | 
    a.btn.btn-primary(href="mailto:dokibox-developers@googlegroups.com", role="button")
      span.fa.fa-envelope
      |  Send Email
  p
    | The developers can be reached either using IRC chat (
    code #dokibox
    |  on  
    code irc.freenode.net
    | ) or via email (
    code dokibox-developers@googlegroups.com
    | ) for any questions, complaints or suggestions.
    | If you don't have an IRC chat client, you can use 
    a(href="http://chat.mibbit.com/?channel=%23dokibox&server=irc.freenode.net", target="_blank") Mibbit
    | .
